.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-transform: capitalize;
  text-decoration: line-through;
  color: #777;
}

.captalizeText {
  text-transform: capitalize;
}

.tableActions {
  width: 105px;
}

.todoForm {
  display: grid;
  grid-template-columns: 1fr 128px;
  gap: 5px;
  padding-bottom: 60px;
}